




body {
  font-size: 15px;
  color: #000;
  background-color: #FFF;
  font-family: 'Varela Round', Verdana, sans-serif;
  line-height: 1.5;

  margin: 0;
  padding: 0;

}

/* Global */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;

}

ul{
	margin:0;
	padding:0;
}
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;   
  } 

.button_1{
	height: 38px;
	background: #E8D822;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #000;
}

/* Header */

	/* navbar */
.navbar-default {
    background-color: #333;
    border:none;
}



.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
   	color:#C6B600;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#C6B600;
	font-weight: bold;
}


/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

h1 .highlight, header .cdurrent a{
	color:#E8D822;
	font-weight: bold;
}


.navbar-fixed-top{
	border-bottom:#E8D822 3px solid;
}
header{
	background-color: #333;
	color: #FFF;
	padding: 0px;


	z-index: 1;
}

header a{
	color:#FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;

}

header ul{
	margin:0;
	padding:0;
}

header li{
	float:right;
	display: inline;
	padding:0 5px 0 5px;

}

header #branding{
	float: left;
	padding-top: 25px;
	padding-left: 15px;
}

header #branding h1{
	margin:0;
}

.nav{
	padding-top: 25px;
	padding-bottom: 0px;
	float:right;
}


/* Showcase */
#showcase{
	margin-top: 65px;
	padding-top: 200px;
	padding-bottom: 400px;
	min-height: 800px;
	background:url('../images/lathe work(edit3).png') no-repeat 0px -50px;

    background-position: center; 
	text-align: center;
	color: #FFF;
}

#showcase > .container{
	width: 100%;
	padding: 0px 0px 0px 0px;
}
#showcase h1{
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 70px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	
  	background-color: rgba(0,0,0, 0.75);
  }
}

#showcase p{
	font-size: 20px;

}

.spacer {
	min-height: 200px;
}



/* About Me */
#about{
	color: #333;
}

.circle-pic{
  height: 300px;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  background-image: url("../images/New Photo circle.png");
  background-size: 300px 300px;
  background-repeat: no-repeat;
}

.line{
	border-bottom:#333 1px solid;
  width: 280px;
  height: 1px;
  color: #333;
  background-color: #333;
}

#about p{
	padding-top: 15px;
}

/* Experience */

.greypart{
	/*background-image: url("../images/mindstorms.png");
  	background-repeat: no-repeat;
	
	min-height: 800px;*/
	background-color: #333;
}

#experience{
	color: #fff;
}

#experience .line {
	border-bottom:#fff 1px solid;
	background-color: #fff;
}

.sll{
  height: 137px;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  background-image: url("../images/SLL_Logo_Small.png");
  background-repeat: no-repeat;


}

.sll div {
	display:none;
}

.sll:hover div {
	display: block;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0, 0.65);
	padding-top: 5px;
	padding-bottom: 5px;
}

.job-title{
	padding: 15px 15px 15px 15px;
	margin-bottom: 15px;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
}

.job-title p{
	margin-top: 15px;
	font-weight: normal;
	text-align: center;
	font-size: 15px;
}	


/* Contact me */

#contact{
	padding:15px;
	color:#FFF;
	background:#333;
}

#contact h1{
	float: left;

}

#contact form{
	float:right;
	margin-top:15px;
}

#contact input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
}




/*Boxes*/
#boxes{
	margin-top: 20px;
}

#boxes .box{
	float:left;
	text-align: center;
	width:30%;
	padding: 10px;
}

#boxes .box img{
	width:90px;

}

footer{
	padding:20px;
	color:#fff;
	background-color: #333;
	text-align: center;
}





/*Size specific things */

@media (min-width: 992px) {

  .col-lg-4 {
    float: left;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .sll{
  	height: 222px;
  	width: 646px;
	background-image: url("../images/SLL_Logo.png");
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12{
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

   .col-md-12 {
    width: 100%;
  }

}




/*
.nav{
	background-color: #00DDDD;
	color: #FFF;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}


.nav > li {
	display: inline-block;
	padding-right: 0 35px 0 35px;	
}

.nav > li > a {
	text-decoration: none;
	color: #FFF;
}

.nav > li > a:hover {
	background-color: #00DDDD;
	color: #c1c1c1;
}*/